USE [UP_ShutIKrol]
GO
/****** Object:  Table [dbo].[BookGenres]    Script Date: 18.05.2026 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookGenres](
	[BookId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_BookGenres] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 18.05.2026 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CoverPath] [nvarchar](max) NOT NULL,
	[AuthorId] [int] NOT NULL,
	[IsFrozen] [bit] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapters]    Script Date: 18.05.2026 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[Number] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Path] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Chapters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaints]    Script Date: 18.05.2026 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AuthorId] [int] NULL,
	[BookId] [int] NULL,
	[ReviewId] [int] NULL,
	[ReasonText] [nvarchar](255) NOT NULL,
	[IsResolved] [bit] NULL,
 CONSTRAINT [PK_Complaints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 18.05.2026 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReadList]    Script Date: 18.05.2026 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReadList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_ReadList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReadStatuses]    Script Date: 18.05.2026 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReadStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ReadStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 18.05.2026 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Comment] [nvarchar](255) NOT NULL,
	[IsApproved] [bit] NULL,
 CONSTRAINT [PK_Requests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestTypes]    Script Date: 18.05.2026 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RequestTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 18.05.2026 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[Text] [nvarchar](255) NOT NULL,
	[Rate] [tinyint] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[IsFrozen] [bit] NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 18.05.2026 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.05.2026 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsFrozen] [bit] NOT NULL,
	[FreezeReason] [nvarchar](500) NULL,
	[RegistrationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BookGenres] ([BookId], [GenreId]) VALUES (4, 1)
INSERT [dbo].[BookGenres] ([BookId], [GenreId]) VALUES (4, 6)
INSERT [dbo].[BookGenres] ([BookId], [GenreId]) VALUES (5, 2)
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [Name], [CoverPath], [AuthorId], [IsFrozen]) VALUES (4, N'Потерянное королевство', N'C:\Users\artom\source\repos\SmbUNeed\WPFPractice\MyProject\bin\Debug\Covers\LostKingdom.jpg', 4, 0)
INSERT [dbo].[Books] ([Id], [Name], [CoverPath], [AuthorId], [IsFrozen]) VALUES (5, N'Звезды за горизонтом', N'C:\Users\artom\source\repos\SmbUNeed\WPFPractice\MyProject\bin\Debug\Covers\BehindHorizon.png', 5, 0)
INSERT [dbo].[Books] ([Id], [Name], [CoverPath], [AuthorId], [IsFrozen]) VALUES (6, N'Теневой детектив', N'C:\Users\artom\source\repos\SmbUNeed\WPFPractice\MyProject\bin\Debug\Covers\ТеневойДетектив.jpg', 9, 0)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Chapters] ON 

INSERT [dbo].[Chapters] ([Id], [BookId], [Number], [Name], [Path]) VALUES (5, 4, 1, N'Начало', N'chapters\1\ch1.txt')
INSERT [dbo].[Chapters] ([Id], [BookId], [Number], [Name], [Path]) VALUES (6, 4, 2, N'В лес', N'chapters\1\ch2.txt')
INSERT [dbo].[Chapters] ([Id], [BookId], [Number], [Name], [Path]) VALUES (7, 4, 3, N'Древние руины', N'chapters\1\ch3.txt')
SET IDENTITY_INSERT [dbo].[Chapters] OFF
GO
SET IDENTITY_INSERT [dbo].[Complaints] ON 

INSERT [dbo].[Complaints] ([Id], [UserId], [AuthorId], [BookId], [ReviewId], [ReasonText], [IsResolved]) VALUES (8, 4, NULL, 8, NULL, N'Эта книга содержит непозволительный контент', 1)
INSERT [dbo].[Complaints] ([Id], [UserId], [AuthorId], [BookId], [ReviewId], [ReasonText], [IsResolved]) VALUES (9, 5, NULL, NULL, 11, N'Отзыв содержит спойлер без предупреждения', 1)
INSERT [dbo].[Complaints] ([Id], [UserId], [AuthorId], [BookId], [ReviewId], [ReasonText], [IsResolved]) VALUES (10, 8, NULL, 4, NULL, N'Обложка украдена с другого источника', NULL)
SET IDENTITY_INSERT [dbo].[Complaints] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([Id], [Name], [Description]) VALUES (1, N'Fantasy', N'Magic, mythical creatures and imaginary worlds')
INSERT [dbo].[Genres] ([Id], [Name], [Description]) VALUES (2, N'Science Fiction', N'Future technologies, space and alternate realities')
INSERT [dbo].[Genres] ([Id], [Name], [Description]) VALUES (3, N'Detective', N'Crime solving and mysteries')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET IDENTITY_INSERT [dbo].[ReadList] ON 

INSERT [dbo].[ReadList] ([Id], [UserId], [BookId], [StatusId]) VALUES (5, 6, 4, 7)
INSERT [dbo].[ReadList] ([Id], [UserId], [BookId], [StatusId]) VALUES (6, 6, 5, 7)
INSERT [dbo].[ReadList] ([Id], [UserId], [BookId], [StatusId]) VALUES (7, 6, 6, 6)
SET IDENTITY_INSERT [dbo].[ReadList] OFF
GO
SET IDENTITY_INSERT [dbo].[ReadStatuses] ON 

INSERT [dbo].[ReadStatuses] ([Id], [Name]) VALUES (5, N'В планах')
INSERT [dbo].[ReadStatuses] ([Id], [Name]) VALUES (6, N'Читаю')
INSERT [dbo].[ReadStatuses] ([Id], [Name]) VALUES (7, N'Прочитал')
SET IDENTITY_INSERT [dbo].[ReadStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Requests] ON 

INSERT [dbo].[Requests] ([Id], [TypeId], [UserId], [Comment], [IsApproved]) VALUES (4, 3, 4, N'Пожалуйста разморозьте мою книгу', 1)
INSERT [dbo].[Requests] ([Id], [TypeId], [UserId], [Comment], [IsApproved]) VALUES (5, 3, 5, N'Запрещенные материалы зацензурены', NULL)
INSERT [dbo].[Requests] ([Id], [TypeId], [UserId], [Comment], [IsApproved]) VALUES (6, 3, 9, N'Я больше так не буду', NULL)
SET IDENTITY_INSERT [dbo].[Requests] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestTypes] ON 

INSERT [dbo].[RequestTypes] ([Id], [TypeName]) VALUES (3, N'BookUnfrozing')
INSERT [dbo].[RequestTypes] ([Id], [TypeName]) VALUES (4, N'AccountUnfrozing')
INSERT [dbo].[RequestTypes] ([Id], [TypeName]) VALUES (1002, N'Author')
SET IDENTITY_INSERT [dbo].[RequestTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [UserId], [BookId], [Text], [Rate], [CreationDate], [IsFrozen]) VALUES (9, 6, 4, N'По правде насладилс яэтой книгой', 8, CAST(N'2023-05-01T10:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Reviews] ([Id], [UserId], [BookId], [Text], [Rate], [CreationDate], [IsFrozen]) VALUES (10, 7, 4, N'Очень скучно в начале но развязка взорвала', 6, CAST(N'2023-05-12T14:30:00.000' AS DateTime), NULL)
INSERT [dbo].[Reviews] ([Id], [UserId], [BookId], [Text], [Rate], [CreationDate], [IsFrozen]) VALUES (11, 6, 5, N'Невероятная фантастика, рекомендую', 10, CAST(N'2023-05-20T09:15:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (4, N'Admin')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (5, N'Author')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (6, N'Reader')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Login], [Password], [Email], [RoleId], [IsFrozen], [FreezeReason], [RegistrationDate]) VALUES (3, N'Иван Петров', N'ivan_p', N'pass1234', N'ivan@mail.ru', 4, 0, NULL, CAST(N'2023-01-15T10:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([Id], [Name], [Login], [Password], [Email], [RoleId], [IsFrozen], [FreezeReason], [RegistrationDate]) VALUES (4, N'Мария Сидорова', N'masha_s', N'ms', N'masha@gmail.com', 5, 0, NULL, CAST(N'2023-02-20T09:30:00.000' AS DateTime))
INSERT [dbo].[Users] ([Id], [Name], [Login], [Password], [Email], [RoleId], [IsFrozen], [FreezeReason], [RegistrationDate]) VALUES (5, N'Алексей Волков', N'alex_v', N'wolf2023', N'alexv@yandex.ru', 5, 0, NULL, CAST(N'2023-03-05T14:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[BookGenres]  WITH CHECK ADD  CONSTRAINT [FK_BookGenres_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[BookGenres] CHECK CONSTRAINT [FK_BookGenres_Books]
GO
ALTER TABLE [dbo].[BookGenres]  WITH CHECK ADD  CONSTRAINT [FK_BookGenres_Genres] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([Id])
GO
ALTER TABLE [dbo].[BookGenres] CHECK CONSTRAINT [FK_BookGenres_Genres]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Users] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Users]
GO
ALTER TABLE [dbo].[Chapters]  WITH CHECK ADD  CONSTRAINT [FK_Chapters_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[Chapters] CHECK CONSTRAINT [FK_Chapters_Books]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaints_Books1] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [FK_Complaints_Books1]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaints_Reviews] FOREIGN KEY([ReviewId])
REFERENCES [dbo].[Reviews] ([Id])
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [FK_Complaints_Reviews]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaints_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [FK_Complaints_Users]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaints_Users1] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [FK_Complaints_Users1]
GO
ALTER TABLE [dbo].[ReadList]  WITH CHECK ADD  CONSTRAINT [FK_ReadList_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[ReadList] CHECK CONSTRAINT [FK_ReadList_Books]
GO
ALTER TABLE [dbo].[ReadList]  WITH CHECK ADD  CONSTRAINT [FK_ReadList_ReadStatuses] FOREIGN KEY([StatusId])
REFERENCES [dbo].[ReadStatuses] ([Id])
GO
ALTER TABLE [dbo].[ReadList] CHECK CONSTRAINT [FK_ReadList_ReadStatuses]
GO
ALTER TABLE [dbo].[ReadList]  WITH CHECK ADD  CONSTRAINT [FK_ReadList_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ReadList] CHECK CONSTRAINT [FK_ReadList_Users]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_RequestTypes] FOREIGN KEY([TypeId])
REFERENCES [dbo].[RequestTypes] ([Id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_RequestTypes]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Users]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Books]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [CK_Reviews] CHECK  (([Rate]>=(1) AND [Rate]<=(10)))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [CK_Reviews]
GO
